* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: black;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 6px;
    height: 60px;
    background-color: rgb(139, 163, 252);
    margin-bottom: 20px;
    position: fixed;

    position: sticky;
    top: 2px;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__item { 
   margin: 0 20px;
}

.header__logo {
    font-size: 22px;
    font-weight: 600;

}

.section {
    margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgb(182, 139, 252);
    justify-content: space-between;
    padding: 30px;
   display: flex;

}
.block1 {
     height: 600px;
     background-color: rgb(182, 139, 252);
     justify-content: space-between;
     flex-wrap: wrap;

      margin-bottom: 20px;
    border-radius: 6px;
    background-color: rgb(182, 139, 252);
    justify-content: space-between;
    padding: 30px;
   display: flex;
    position: sticky;
}

.img {
    width: 300px;
    height: 300px;
    border-radius: 6px;
    background-color: #f9f9f9;
}

.one, .two {
    display: flex;
    align-items: center;
}

.two {
    flex-direction: row-reverse;
}
.one__text, .two__text {
    line-height: 20px;
    
}

.one__text {
padding-left: 100px;
}
.two__text {
    text-align: right;
}
.one__img {
    margin-right: 30px;
}

.two__img {
    margin-left: 30px;
}

.price {
    display: flex;
    justify-content: space-around;
}

.price__title {
    padding-bottom: 10px;
}

.price__item {
    max-width: 300px;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
    background-color: rgb(139, 163, 252);
}
.price__img {
    width: 100%;
    height: 150px;
    background-color: #c6c6c6;
    margin-bottom: 20px;
    border-radius: 6px;
    background-position: center;

}
.price__bth {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(139, 239, 252);
    border-radius: 6px;
    color: white;
    margin-top: 10px;
    padding: 5px;

}

.price__bth:hover {
    background-color: blue;
}
.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 10px;
}

.kartinka {
    display: flex;
    width: 250px;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 6px;
    /*background-color: #f9f9f9;*/
      flex-wrap: wrap;
    justify-content: space-between;
}
body {
    font-style: oblique;
}
img {
    width: 100%;
    height: 160px;
}
.card2 {
    width: 230%;
    height: 300px;
}
.card3 {
    width: 200px;
    height: 300px;
  }
  .logo {
     height: 80px
  }

  .first {
    position: static;
  }
.second {
       position: relative;
    left: 150px;
    top: 160px;
}
.third {
position: relative;
top: 350px;
    left: 280px;
}
.four {
     position: relative;
    top: 300px;
    left: 228px;
}
.five {
    position: relative;
    top: 80px;
   }